%h1.font-weight-bold
  商品検索
.row
  .col-lg-12
    = render 'search_form'
    %h2.font-weight-bold 検索結果
    %table.table.table-list
      %thead
        %tr
          %th 販売状況
          %th 商品コード
          %th 商品名
          %th 販売価格
          %th 仕入原価
      - @products.each do |product|
        %tbody
          %tr
            %td= product.sales_condition
            %td= product.code
            %td= product.name
            %td= product.display_price
            %td= product.display_purchase_cost
%hr/
%footer
  %p © waterlow.io 2018
